.words__categories {
    display: flex;
    flex-wrap: wrap;
}

.words__categories__category {
    width: 65px;
    height: 100px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    /* background: rgb(30,31,34);
background: linear-gradient(90deg, rgba(30,31,34,1) 26%, rgba(54,58,63,1) 81%);  */
    background-color: white;
    box-shadow: rgba(62, 62, 209, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: relative;
}

.borderWhite::before {
    content: '';
    position: absolute;
    height: 150px;
    width: 20px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    top: -30px;
    transition: .4s;
    transform: translateX(-100px) rotate(-45deg);
    animation-name: effetVitre;
    animation-duration: 1400ms;
    animation-iteration-count: infinite;
}

/* .words__categories__category .unloaded::before{
    animation:none;
} */

@keyframes effetVitre {
    0% {
        transform: translateX(-100px) rotate(-45deg);
    }

    100% {
        transform: translateX(180px) rotate(-45deg);
    }
}


.words h2 {
    margin-bottom: 15px;
}

.words .description {
    margin-bottom: 10px;
}

.words__categories__category:hover img {
    transform: scale(1.5);
}

.words__categories__category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .8s;

}

.flashCards {
    margin-top: 50px;
    width: 80%;
    height: 500px;
    background-color: rgb(54, 58, 63);
    padding: 15px;
    align-self: center;
    border-radius: 5px;
}

.flashCards__left {
    width: 50%;
    height: 100%;
    padding-right: 7px;
}

.flashCards__right {
    width: 50%;
    height: 100%;
    padding-left: 7px;
    position: relative;
}

.flashCards__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flashCards {
    display: flex;
}

.btn-openFc {}

.btn-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCards__right__container {
    /* padding: 20px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flashcards__right__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(30, 31, 34);
}

.flashCards__right__header {
    background-color: rgb(30, 31, 34);
    padding: 20px;
}

.flashCards__right__main {
    padding: 20px;
    flex: 1;
}

.flashCards__right__main {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCards__right__bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flashCardsAnswer {
    margin: 10px;
}

.flashCardsAnswer .btn {
    margin: 5px;
}

.flashCards__right__main {
    cursor: pointer;
    margin: 30px auto auto;
    border: 2px solid rgb(30, 31, 34);
    background-color: white;
    width: 80%;
    color:black;
    display:flex;
    flex-direction:column;
}

.showCaseName{
    font-size: 25px;
    margin-bottom:15px;
}

.backCaseName{

}