header {
    display: flex;
    align-items: center;
    height: 70px;
}

.header__left {
    background-color: rgb(30, 31, 34);
    padding: 10px;
    width: 73px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 10px;
}

.header__right__logoArea {
    display: flex;
    align-items: center;
}

.header__right__logoArea img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.header__right__profilArea img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-igloo {
    font-size: 22px;
    border-radius: 15px;
}

.fa-bars {
    font-size: 28px;
    display: none;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.navBarContainer {
    min-width: 300px;
    width: 80%;
    padding: 15px;
}