* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#root {
    width: 100%;
    height: 100%;

}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    /* background-image:url("../pictures/bg/bg_london.jpg"); */
    background-color: rgb(43, 45, 49);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex: 1;
}

.home,
.suivi,
.words,
.panier {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}