.suivi__pictorialFractionChart {}

.progress-character {
    width: 200px;
    /* Largeur du bonhomme */
    height: 375px;
    /* Hauteur du bonhomme */
    position: relative;
    /* background-color: rgb(40,49,80); */
    background-color: white;
    /* Couleur de fond */
    padding: 0px;
    /* Bordure du bonhomme */
    clip-path: polygon(117px 25px, 106px 30px, 96px 37px, 89px 53px, 93px 64px, 98px 72px,
            107px 82px, 114px 84px, 114px 91px, 85px 92px, 73px 95px, 62px 100px,
            54px 111px, 52px 224px, 56px 229px, 65px 232px, 71px 230px, 78px 225px,
            77px 138px, 84px 139px, 83px 362px, 87px 370px, 97px 374px, 107px 375px,
            117px 367px, 118px 233px, 124px 230px, 123px 361px, 127px 366px, 130px 372px,
            142px 375px, 152px 372px, 158px 365px, 158px 138px, 163px 140px, 164px 219px,
            166px 226px, 173px 230px, 182px 231px, 189px 222px, 189px 120px, 183px 106px,
            171px 99px, 159px 93px, 130px 92px, 128px 84px, 137px 79px, 145px 71px,
            149px 61px, 150px 52px, 145px 41px, 139px 33px, 128px 27px);
    overflow: hidden;
    transform: scale(0.3);
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(240,83,64); */
    background-color: rgb(240, 83, 64);
    /* Couleur de remplissage */
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.5s ease;
}

.suivi__pictorialFractionChart__percentage {
    position: absolute;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    padding: 5px;
    top: 105px;
    right: 38px;
    background-color: black;
    border-radius: 6px;
}

.suivi__graphs {
    display: flex;
    background-color: rgb(35, 36, 40);
    border-radius: 10px;
    padding: 23px;
    max-width: 80%;
}

.suivi__pictorialFractionChart {
    position: absolute;
    top: 0;
    right: 0;
}

.suivi h2 {
    margin-bottom: 15px;
}

.suivi .description {
    margin-bottom: 10px;
}

/* DONUT CHART */
.progress-circle {
    width: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background: conic-gradient(#3498db 0 50%, #e0e0e0 50%);
}

.inside-circle {
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.suivi p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.suivi__donutsChart {
    display: flex;
    flex-wrap: wrap;
}